<%- include("../partials/header") %>
    <h1>
        <%= title %>
    </h1>

    <p>Here is the list of skills:</p>

    <% for( let i=0; i < skills.length; i++ ) { %>
        <li>
            <form method="POST" action="/skills/<%= skills[i].id %>?_method=DELETE">
                <button type="submit">X</button>
            </form>

            <form method="GET" action="/skills/edit/<%= skills[i].id %>">
                <button type="submit">âœ</button>
            </form>


            - <a href='/skills/<%= skills[i].id %>'>
                <%= skills[i].skill %> 
               
            </a>
            - <%=skills[i].rank%>/10
        </li>
        <% } %>

            <%- include("../partials/footer") %>