<%- include("../partials/header") %>
    <h1>
        <%= title %>
    </h1>

    <p>Here is the list of skills:</p>

    <% for( let i=0; i < skills.length; i++ ) { %>
        <li> <a href='/skills/<%= skills[i].id %>'>
                <%= skills[i].skill%>
            </a></li>
        <% } %>

<%- include("../partials/footer") %>