<%- include("../partials/header") %>
    <h1>
        <%= title %>
    </h1>

    <h3>Here is the list of skills:</h3>

    <% for( let i=0; i < skills.length; i++ ) { %>
        <li>
            <form method="POST" action="/skills/<%= skills[i].id %>?_method=DELETE">
                <button class="actionBtn" type="submit">❌</button>
            </form>

            <form method="GET" action="/skills/<%= skills[i].id %>/edit">
                <button class="actionBtn"  type="submit">✏️</button>
            </form>


            <a href='/skills/<%= skills[i].id %>'>
                <%= skills[i].skill %>

            </a>
            
        </li>
        <% } %>

            <%- include("../partials/footer") %>