<%- include("../partials/header") %>
    <h1>
        <%= title %>
    </h1>

    <p>Here is the list of skills:</p>

    <% for( let i=0; i < skills.length; i++ ) { %>
        <li>
            <form method="POST" action="/skills/<%= skills[i].id %>?_method=DELETE">
                <button type="submit">x</button>
            </form>


            <a href='/skills/<%= skills[i].id %>'>
                <%= skills[i].skill%>
            </a>
        </li>
        <% } %>

            <%- include("../partials/footer") %>