<%- include("../partials/header") %>

    <h1>
        <%= title %>
    </h1>

    <hp>Skill in depth:</p>

        <p>
            <%= skill.skill %>
        </p>
        <p>
            <%= skill.rank %>
        </p>

<%- include("../partials/footer") %>