<%- include("../partials/header") %>

    <h1>
        <%= title %>
    </h1>


        <h3>
            <%= skill.skill %>
        </h3>
        <p>
            Proficiency: <%= skill.rank %>/10
        </p>

<%- include("../partials/footer") %>